.path { 
	width:500px;
	height:22px;
	position:absolute;
	left:101px;
	top:131px;
}
.home { 
	color:rgba(128, 128, 128, 1);
	width:48px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.home:hover{
	text-decoration:underline;
	cursor:pointer;
}
.arrowright { 
	border: solid rgba(128, 128, 128, 0.8);
	border-width: 0 2px 2px 0;
	transform: rotate(-45deg);
	display: inline-block;
	padding: 3px;
    position:absolute;
    left:58px;
    top:8px;
}
.myaccount { 
	color:rgba(128, 128, 128, 1);
	width:100px;
	height:22px;
	position:absolute;
	left:83px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.myaccount:hover{
	text-decoration:underline;
	cursor:pointer;
}
.arrowright2 { 
	border: solid rgba(128, 128, 128, 0.8);
	border-width: 0 2px 2px 0;
	transform: rotate(-45deg);
	display: inline-block;
	padding: 3px;
    position:absolute;
    left:187px;
    top:8px
}
.accountinfo { 
	color:rgba(60, 66, 66, 1);
	width:100px;
	height:22px;
	position:absolute;
	left:210px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}