.imgLogo {
    display: flex;
    margin-left: 0;
    margin-right: auto;
    width: 50%;
    background-color: lightblue;
    margin-top: 5%;
    padding-top: 9%;
    padding-bottom: 8%;
    overflow-y: hidden;
    justify-content: space-evenly;
}

.signInHTML {
    overflow-y: hidden;
}