.container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .wishlist {
    width: 100%;
    height: 1767px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: transparent;
  }
  .frame9 {
    gap: 15px;
    top: 131px;
    left: 101px;
    width: 276px;
    display: flex;
    position: absolute;
    align-items: center;
  }
  .text {
    color: rgba(128, 125, 126, 1);
    height: auto;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .left-stroke {
    width: 5px;
    height: 10px;
  }
  .text002 {
    color: rgba(128, 125, 126, 1);
    height: auto;
    font-size: 18px;
    font-style: Bold;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .left-stroke1 {
    width: 5px;
    height: 10px;
  }
  .text004 {
    color: rgba(60, 66, 66, 1);
    height: auto;
    font-size: 18px;
    font-style: Bold;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .rectangle760 {
    top: -33px;
    left: 2px;
    width: 1440px;
    height: 1128px;
    position: absolute;
  }
  .product-description {
    top: 205px;
    left: 101px;
    width: 304px;
    height: 31px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text006 {
    left: 21px;
    color: rgba(60, 66, 66, 1);
    width: 183px;
    height: auto;
    position: absolute;
    font-size: 28px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 33.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .rectangle21 {
    top: 1px;
    left: 0px;
    width: 6px;
    height: 28px;
    position: absolute;
    border-radius: 10px;
  }
  .text008 {
    top: 205px;
    left: 445px;
    color: rgba(60, 66, 66, 1);
    width: 183px;
    height: auto;
    position: absolute;
    font-size: 28px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 33.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .text010 {
    top: 246px;
    left: 101px;
    color: rgba(128, 125, 126, 1);
    width: 215px;
    height: auto;
    position: absolute;
    font-size: 14px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 33.5px;
    font-stretch: normal;
    text-decoration: none;
  }
  .myordersonleft {
    top: 318px;
    left: 137px;
    width: 295px;
    height: 22px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .myordersonleft:hover {
    cursor: pointer;
  }
  .text012 {
    left: 37px;
    color: rgba(128, 125, 126, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .myorders {
    top: 0px;
    left: 0px;
    width: 22px;
    height: 22px;
    position: absolute;
  }
  .frame477 {
    top: 359px;
    left: 100px;
    width: 295px;
    height: 44px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .frame459 {
    top: 5px;
    left: 0px;
    width: 295px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    overflow: hidden;
  }
  .rectangle748 {
    top: 5px;
    left: 0px;
    width: 295px;
    height: 30px;
    position: absolute;
    overflow: hidden;
  }
  .rectangle749 {
    top: 0px;
    left: 0px;
    width: 2px;
    height: 44px;
    position: absolute;
  }
  .wishlistonleft {
    top: 11px;
    left: 37px;
    width: 99px;
    height: 22px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .wishlistonleft:hover {
    cursor: pointer;
  }
  .text014 {
    left: 37px;
    color: rgba(128, 125, 126, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .heart {
    top: 1px;
    left: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
  }
  .signoutonleft {
    top: 476px;
    left: 137px;
    width: 295px;
    height: 22px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .signoutonleft:hover {
    cursor:pointer;
  }
  .text016 {
    left: 37px;
    color: rgba(128, 125, 126, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .signout {
    top: 0px;
    left: 0px;
    width: 22px;
    height: 22px;
    position: absolute;
  }
  .myinfoonleft {
    top: 423px;
    left: 137px;
    width: 295px;
    height: 22px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .myinfoonleft:hover {
    cursor:pointer;
  }
  .text018 {
    left: 37px;
    color: rgba(128, 125, 126, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .user {
    top: 1px;
    left: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
  }
  .line1 {
    top: 426.00006103515625px;
    left: 445px;
    width: 894px;
    height: 1px;
    position: absolute;
  }
  .line2 {
    top: 596.0000610351562px;
    left: 445px;
    width: 894px;
    height: 1px;
    position: absolute;
  }
  .line3 {
    top: 766.0000610351562px;
    left: 445px;
    width: 894px;
    height: 1px;
    position: absolute;
  }
  .line4 {
    top: 936.0000610351562px;
    left: 445px;
    width: 894px;
    height: 1px;
    position: absolute;
  }
  .wishlistproduct {
    gap: 36px;
    top: 286px;
    left: 445px;
    width: 903px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .filledwishlistheart {
    left:0px;
    top:0px;
    width:22px;
    height:22px;
    background-image:url("../../assets/filledinwishlist.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .filledwishlistheart:hover {
    cursor: pointer;
  }
  .rectangle754 {
    width: 110px;
    height: 110px;
    border-radius: 4px;
  }
  .frame479 {
    width: 699px;
    height: 102px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text020 {
    color: rgba(60, 66, 66, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text022 {
    top: 76px;
    color: rgba(60, 66, 66, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text023 {
    color: rgba(60, 66, 66, 1);
  }
  .frame478 {
    top: 26px;
    left: 0px;
    width: 699px;
    height: 50px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text024 {
    top: 12px;
    color: rgba(60, 66, 66, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text025 {
    color: rgba(60, 66, 66, 1);
  }
  .text027 {
    top: 12px;
    left: 427px;
    color: rgba(128, 125, 126, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .button {
    gap: 12px;
    top: 0px;
    left: 549px;
    width: 143px;
    display: flex;
    padding: 14px 28px;
    position: absolute;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    background-color: rgba(25, 137, 172, 1);
  }
  .button:hover {
    cursor: pointer;
  }
  .text029 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 18px;
    text-align: center;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .wishlistproduct1 {
    gap: 36px;
    top: 456px;
    left: 445px;
    width: 903px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .filledwishlistheart1 {
    left:0px;
    top:0px;
    width:22px;
    height:22px;
    background-image:url("../../assets/filledinwishlist.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .filledwishlistheart1:hover {
    cursor: pointer;
  }
  .rectangle7541 {
    width: 110px;
    height: 110px;
    border-radius: 4px;
  }
  .frame4791 {
    width: 699px;
    height: 102px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text031 {
    color: rgba(60, 66, 66, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text033 {
    top: 76px;
    color: rgba(60, 66, 66, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text034 {
    color: rgba(60, 66, 66, 1);
  }
  .frame4781 {
    top: 26px;
    left: 0px;
    width: 699px;
    height: 50px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text035 {
    top: 12px;
    color: rgba(60, 66, 66, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text036 {
    color: rgba(60, 66, 66, 1);
  }
  .text038 {
    top: 12px;
    left: 427px;
    color: rgba(128, 125, 126, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .button1 {
    gap: 12px;
    top: 0px;
    left: 549px;
    width: 143px;
    display: flex;
    padding: 14px 28px;
    position: absolute;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    background-color: rgba(25, 137, 172, 1);
  }
  .button1:hover {
    cursor: pointer;
  }
  .text040 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 18px;
    text-align: center;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .wishlistproduct2 {
    gap: 36px;
    top: 626px;
    left: 445px;
    width: 903px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .filledwishlistheart2 {
    left:0px;
    top:0px;
    width:22px;
    height:22px;
    background-image:url("../../assets/filledinwishlist.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .filledwishlistheart2:hover {
    cursor: pointer;
  }
  .rectangle7542 {
    width: 110px;
    height: 110px;
    border-radius: 4px;
  }
  .frame4792 {
    width: 699px;
    height: 102px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text042 {
    color: rgba(60, 66, 66, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text044 {
    top: 76px;
    color: rgba(60, 66, 66, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text045 {
    color: rgba(60, 66, 66, 1);
  }
  .frame4782 {
    top: 26px;
    left: 0px;
    width: 699px;
    height: 50px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text046 {
    top: 12px;
    color: rgba(60, 66, 66, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text047 {
    color: rgba(60, 66, 66, 1);
  }
  .text049 {
    top: 12px;
    left: 427px;
    color: rgba(128, 125, 126, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .button2 {
    gap: 12px;
    top: 0px;
    left: 549px;
    width: 143px;
    display: flex;
    padding: 14px 28px;
    position: absolute;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    background-color: rgba(25, 137, 172, 1);
  }
  .button2:hover {
    cursor: pointer;
  }
  .text051 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 18px;
    text-align: center;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .wishlistproduct3 {
    gap: 36px;
    top: 796px;
    left: 445px;
    width: 903px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .filledwishlistheart3 {
    left:0px;
    top:0px;
    width:22px;
    height:22px;
    background-image:url("../../assets/filledinwishlist.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .filledwishlistheart3:hover {
    cursor: pointer;
  }
  .rectangle7543 {
    width: 110px;
    height: 110px;
    border-radius: 4px;
  }
  .frame4793 {
    width: 699px;
    height: 102px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text053 {
    color: rgba(60, 66, 66, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text055 {
    top: 76px;
    color: rgba(60, 66, 66, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text056 {
    color: rgba(60, 66, 66, 1);
  }
  .frame4783 {
    top: 26px;
    left: 0px;
    width: 699px;
    height: 50px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text057 {
    top: 12px;
    color: rgba(60, 66, 66, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text058 {
    color: rgba(60, 66, 66, 1);
  }
  .text060 {
    top: 12px;
    left: 427px;
    color: rgba(128, 125, 126, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .button3 {
    gap: 12px;
    top: 0px;
    left: 549px;
    width: 143px;
    display: flex;
    padding: 14px 28px;
    position: absolute;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    background-color: rgba(25, 137, 172, 1);
  }
  .button3:hover {
    cursor: pointer;
  }
  .text062 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 18px;
    text-align: center;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .taskbaar {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 108px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .frame510 {
    top: 31px;
    left: 102px;
    width: 1237px;
    height: 45px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .details {
    gap: 40px;
    top: 9px;
    left: 179px;
    width: 478px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .text064 {
    color: rgba(128, 125, 126, 1);
    height: auto;
    font-size: 22px;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text066 {
    color: rgba(128, 125, 126, 1);
    height: auto;
    font-size: 22px;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text068 {
    color: rgba(128, 125, 126, 1);
    height: auto;
    font-size: 22px;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text070 {
    color: rgba(127, 124, 125, 1);
    height: auto;
    font-size: 22px;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text072 {
    color: rgba(127, 124, 125, 1);
    height: auto;
    font-size: 22px;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .button4 {
    gap: 12px;
    top: 0px;
    left: 738px;
    width: 267px;
    display: flex;
    padding: 12px 20px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: rgba(246, 246, 246, 1);
  }
  .button4:hover {
    cursor: pointer;
  }
  .search {
    width: 20px;
    height: 20px;
  }
  .text074 {
    color: rgba(128, 125, 126, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame389 {
    gap: 12px;
    top: 0px;
    left: 1081px;
    width: 156px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .component1 {
    gap: 12px;
    display: flex;
    padding: 12px;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    background-color: rgba(246, 246, 246, 1);
  }
  .heart1 {
    width: 20px;
    height: 20px;
  }
  .component2 {
    gap: 12px;
    display: flex;
    padding: 12px;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    background-color: rgba(25, 137, 172, 1);
  }
  .user1 {
    width: 20px;
    height: 20px;
  }
  .component3 {
    gap: 12px;
    display: flex;
    padding: 12px;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    background-color: rgba(246, 246, 246, 1);
  }
  .shoppingcart {
    width: 20px;
    height: 20px;
  }
  .rectangle14 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 108px;
    position: absolute;
    border-color: rgba(190, 188, 189, 1);
  }
  .image3 {
    top: 6px;
    left: 29px;
    width: 146px;
    height: 96px;
    position: absolute;
  }
  .needhelpsection {
    top: 1036px;
    left: 0px;
    width: 1440px;
    height: 731px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .rectangle36 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 731px;
    position: absolute;
  }
  .frame127 {
    top: 59px;
    left: 110px;
    width: 1220px;
    height: 613px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .frame126 {
    top: 361px;
    left: 746px;
    width: 329px;
    height: 52.26146697998047px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .group {
    top: 1px;
    left: 175px;
    width: 153.76187133789062px;
    height: 51.26146697998047px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .vector {
    top: 0px;
    left: 0px;
    width: 154px;
    height: 51px;
    position: absolute;
  }
  .frame125 {
    top: 8.849609375px;
    left: 50.841796875px;
    width: 78px;
    height: 35.151123046875px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text076 {
    left: 2.332763671875px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 10px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text078 {
    top: 13.151123046875px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group1 {
    top: 10.737545013427734px;
    left: 8.670614242553711px;
    width: 20.621408462524414px;
    height: 31.628419876098633px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .vector01 {
    top: 0px;
    left: 0px;
    width: 21px;
    height: 32px;
    position: absolute;
  }
  .vector02 {
    top: 3.796419143676758px;
    left: 1.123192310333252px;
    width: 18px;
    height: 22px;
    position: absolute;
  }
  .group2 {
    top: 1.4149147272109985px;
    left: 5.975327491760254px;
    width: 8.648417472839355px;
    height: 1.1231693029403687px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group3 {
    top: 0px;
    left: 0px;
    width: 8.648417472839355px;
    height: 1.1231693029403687px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .vector03 {
    top: 0px;
    left: 0px;
    width: 9px;
    height: 1px;
    position: absolute;
  }
  .vector04 {
    top: 26.843835830688477px;
    left: 8.513928413391113px;
    width: 4px;
    height: 4px;
    position: absolute;
  }
  .group4 {
    top: 0px;
    left: 0px;
    width: 153.76187133789062px;
    height: 51.23897933959961px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .vector05 {
    top: 0px;
    left: 0px;
    width: 154px;
    height: 51px;
    position: absolute;
  }
  .frame124 {
    top: 9px;
    left: 41.8846435546875px;
    width: 92px;
    height: 33.7607421875px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text080 {
    left: 8.7022705078125px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 10px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text082 {
    top: 12.7607421875px;
    left: 6px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group5 {
    top: 9.14250373840332px;
    left: 8.670614242553711px;
    width: 29.651813507080078px;
    height: 32.976318359375px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .vector06 {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 33px;
    position: absolute;
  }
  .vector07 {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 21px;
    position: absolute;
  }
  .vector08 {
    top: 11.231348037719727px;
    left: -0.000039852431655162945px;
    width: 30px;
    height: 22px;
    position: absolute;
  }
  .vector09 {
    top: 11.231348037719727px;
    left: 16.12898063659668px;
    width: 14px;
    height: 10px;
    position: absolute;
  }
  .icon {
    top: 492.556640625px;
    left: 1187.8052978515625px;
    width: 8px;
    height: 17px;
    position: absolute;
  }
  .frame123 {
    top: 0px;
    left: 76px;
    width: 1059px;
    height: 292px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .frame122 {
    top: 0px;
    left: 665px;
    width: 394px;
    height: 204px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text084 {
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 28.57913589477539px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame118 {
    top: 77px;
    left: 0px;
    width: 394px;
    height: 127px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text086 {
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text088 {
    top: 44px;
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text090 {
    top: 88px;
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame121 {
    top: 0px;
    left: 423px;
    width: 162px;
    height: 248px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text092 {
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 28.57913589477539px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame117 {
    top: 77px;
    left: 0px;
    width: 162px;
    height: 171px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text094 {
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text096 {
    top: 44px;
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text098 {
    top: 88px;
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text100 {
    top: 132px;
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame119 {
    top: 0px;
    left: 0px;
    width: 142px;
    height: 292px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text102 {
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 28.57913589477539px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame115 {
    top: 77px;
    left: 0px;
    width: 142px;
    height: 215px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text104 {
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text106 {
    top: 44px;
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text108 {
    top: 88px;
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text110 {
    top: 132px;
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text112 {
    top: 176px;
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame120 {
    top: 0px;
    left: 222px;
    width: 121px;
    height: 292px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text114 {
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 28.57913589477539px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame116 {
    top: 77px;
    left: 0px;
    width: 108px;
    height: 215px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text116 {
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text118 {
    top: 44px;
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text120 {
    top: 88px;
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text122 {
    top: 132px;
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text124 {
    top: 176px;
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text126 {
    top: 280px;
    left: 665px;
    color: rgba(246, 246, 246, 1);
    height: auto;
    position: absolute;
    font-size: 28.57913589477539px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: 216.89999103546143%;
    font-stretch: normal;
    text-decoration: none;
  }
  .text128 {
    top: 485px;
    left: 76px;
    color: rgba(246, 246, 246, 1);
    width: 242px;
    height: auto;
    position: absolute;
    font-size: 28.57913589477539px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: 200%;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame18 {
    gap: 9.968000411987305px;
    top: 369px;
    left: 83px;
    width: 178px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .group10 {
    width: 37px;
    height: 37.02399826049805px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(246, 246, 246, 1);
  }
  .vector10 {
    top: 9.256207466125488px;
    left: 13.527999877929688px;
    width: 10px;
    height: 18px;
    position: absolute;
  }
  .group11 {
    width: 37px;
    height: 37.02399826049805px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(246, 246, 246, 1);
  }
  .vector11 {
    top: 10.679963111877441px;
    left: 10.68005657196045px;
    width: 16px;
    height: 16px;
    position: absolute;
  }
  .group12 {
    width: 37px;
    height: 37.02399826049805px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(246, 246, 246, 1);
  }
  .vector12 {
    top: 11.391963005065918px;
    left: 11.39211368560791px;
    width: 18px;
    height: 14px;
    position: absolute;
  }
  .group13 {
    width: 37px;
    height: 37.02399826049805px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(246, 246, 246, 1);
  }
  .text130 {
    top: 4.271963119506836px;
    left: 11.391925811767578px;
    color:rgba(128, 125, 126, 1);
    width: 16px;
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: left;
    font-family: Inria Sans;
    line-height: 28.479999542236328px;
    font-stretch: normal;
    text-decoration: none;
  }
  .line5 {
    top: 456px;
    left: 0px;
    width: 1220px;
    height: 1px;
    opacity: 0.40;
    position: absolute;
  }
  .line6 {
    top: 540px;
    left: 0px;
    width: 1220px;
    height: 1px;
    opacity: 0.40;
    position: absolute;
  }
  .text132 {
    top: 577px;
    left: 377px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Inria Sans;
    line-height: 200%;
    font-stretch: normal;
    text-decoration: none;
  }