.pathway { 
	width:128px;
	height:22px;
	position:absolute;
	left:101px;
	top:131px;
}
.homepathway { 
	color:rgba(128, 128, 128, 1);
	width:48px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.homepathway:hover{
	text-decoration:underline;
	cursor:pointer;
}
.arrowright { 
	border: solid rgba(128, 128, 128, 0.8);
	border-width: 0 2px 2px 0;
	transform: rotate(-45deg);
	display: inline-block;
	padding: 3px;
}
.inboxpathway { 
	color:rgba(60, 66, 66, 1);
	width:45px;
	height:22px;
	position:absolute;
	left:83px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}

/* search inbox */
.searchinboxdiv {
	background-color:rgba(25, 137, 172, 0.2);
	border:0px;
	width:267px;
	height:42px;
	position:absolute;
	left:61px;
	top:176px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.searchinboxicon {
	background-image:url("../../assets/searchicon.png");
	background-repeat:no-repeat;
	background-size:cover;
	height:20px;
	width:20px;
	position:absolute;
	left:12px;
	top:12px;
}
.searchinbox input[type=text]{ 
	background-color:transparent;
	color:rgba(42, 42, 42, 0.7);
	border:0px;
	height:30px;
	width:212px;
	position:absolute;
	left:43px;
	top:6px;
}

.messages { 
	width:376px;
	height:182px;
	position:absolute;
	left:66px;
	top:244px;
}
.johnschatpreview { 
	width:376px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_5534 { 
	color:rgba(51, 51, 51, 1);
	width:250px;
	height:26px;
	position:absolute;
	left:96px;
	top:12px;
	font-family:Inria Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e8_5535 { 
	width:76px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:407.5px;
	border-top-right-radius:407.5px;
	border-bottom-left-radius:407.5px;
	border-bottom-right-radius:407.5px;
	background-image:url("../../assets/emptypfp.png");
	background-repeat:no-repeat;
	background-size:cover;
}
.johnsmessagepreview { 
	color:rgba(51, 51, 51, 1);
	width:277px;
	height:44px;
	position:absolute;
	left:96px;
	top:42px;
	font-family:Inria Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.johnmessagetimestamp { 
	color:rgba(51, 51, 51, 0.3);
	width:100px;
	height:40px;
	position:absolute;
	left:285px;
	top:5px;
	font-family:Inria Sans;
	text-align:right;
	font-size:15px;
	letter-spacing:0;
}
.janeschatpreview { 
	width:376px;
	height:90px;
	position:absolute;
	left:0px;
	top:105px;
}
.janemessagepreview { 
	color:rgba(51, 51, 51, 1);
	width:277px;
	height:44px;
	position:absolute;
	left:96px;
	top:42px;
	font-family:Inria Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e57_1923 { 
	color:rgba(51, 51, 51, 1);
	width:250px;
	height:26px;
	position:absolute;
	left:96px;
	top:12px;
	font-family:Inria Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.janedoepicture { 
	width:76px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:407.5px;
	border-top-right-radius:407.5px;
	border-bottom-left-radius:407.5px;
	border-bottom-right-radius:407.5px;
	background-image:url("../../assets/emptypfp.png");
	background-repeat:no-repeat;
	background-size:cover;
}
.janemessagetimestamp { 
	color:rgba(51, 51, 51, 0.3);
	width:100px;
	height:40px;
	position:absolute;
	left:285px;
	top:5px;
	font-family:Inria Sans;
	text-align:right;
	font-size:15px;
	letter-spacing:0;
}
.openmessagesender { 
	width:143px;
	height:44px;
	position:absolute;
	left:595px;
	top:144px;
}
.currentmessagename { 
	color:rgba(17, 17, 17, 1);
	width:142px;
	height:44px;
	position:absolute;
	left:-10px;
	top:5px;
	font-family:Inria Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.currentmessage_inboxdivider { 
	transform: rotate(90deg);
	width:1166px;
	height:0px;
	position:absolute;
	left:-120px;
	top:710px;
	border:1px solid rgba(0, 0, 0, 0.2);
}
.incomingmessagesdivider { 
	transform: rotate(180deg);
	width:400px;
	height:0px;
	position:absolute;
	left:61px;
	top:335px;
	border:1px solid rgba(0, 0, 0, 0.2);
}
.contact_currentmessagedivider { 
	transform: rotate(180deg);
	width:819px;
	height:0px;
	position:absolute;
	left:465px;
	top:220px;
	border:1px solid rgba(0, 0, 0, 0.2);
}
.johndoepicture { 
	width:70px;
	height:70px;
	position:absolute;
	left:485px;
	top:135px;
	border-top-left-radius:407.5px;
	border-top-right-radius:407.5px;
	border-bottom-left-radius:407.5px;
	border-bottom-right-radius:407.5px;
	background-image:url("../../assets/emptypfp.png");
	background-repeat:no-repeat;
	background-size:cover;
}
.incomingmessage { 
	width:530px;
	height:106px;
	position:absolute;
	left:493px;
	top:244px;
}
.e205_996 { 
	background-color:rgba(42, 42, 42, 0.2);
	width:530px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:20px;
}
.e205_997 { 
	color:rgba(25, 137, 172, 1);
	width:483px;
	height:77px;
	position:absolute;
	left:23px;
	top:14px;
	font-family:Inria Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.outgoingmessage { 
	width:492px;
	height:61px;
	position:absolute;
	left:825px;
	top:384px;
}
.e205_999 { 
	background-color:rgba(31, 172, 216, 0.75);
	width:492px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:20px;
}
.e205_1000 { 
	color:rgba(42, 42, 42, 0.8);
	width:448px;
	height:42px;
	position:absolute;
	left:15px;
	top:9px;
	font-family:Inria Sans;
	text-align:right;
	font-size:25px;
	letter-spacing:0;
}
.typemessagediv { 
	width:860px;
	height:66px;
	position:absolute;
	left:493px;
	top:1191px;
}
.typemessagerect input[type=text]{ 
	background-color:rgba(42, 42, 42, 0.2);
	border:0px;
	color: rgba(42, 42, 42, 0.7);
	width:810px;
	height:60px;
	position:absolute;
	padding-left:23px;
	left:0px;
	top:20px;
	font-family:Inria Sans;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
