:root {
    --main-blue: #1989AC;
    --yellow: #FEF4E8;
}

/* how each listing is formatted */
.product {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    position: relative;
    width: 30%;
    background: #ffffff;
    /* border: solid 1px; */
    /* box-shadow: -2px 2px 2px var(--main-blue); */
    border-radius: 5px;
    margin-top: 0%;
}

.product:hover {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    position: relative;
    width: 30%;
    background: var(--yellow);
    /* border: solid 1px; */
    /* box-shadow: -2px 2px 2px var(--main-blue); */
    border-radius: 5px;
    margin-top: 0%;}

.product-img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-name {
    display: inline-flex;
    /* border: solid red; */
    width: 70%;
    padding: 3%;
    margin-right: 5%;
    vertical-align: center;
}

.product-price {
    display: inline-flex;
    border: solid var(--main-blue);
    justify-content: center;
    width: 25%;
    padding: 3%;
    background-color: var(--main-blue);
    border-radius: 5px;
    color: white;
}

/* how the page is formatted */
.page {
    display: flex;
}

.sidebar {
    display: inline-flex;
    width: 25%;
    border: solid black 1px;
    margin: 1%;
    margin-top: 0%
}

.product-listing {
    display: inline-flex;
    width: 75%;
    flex-wrap: wrap;
}

.cat-name {
    width: 100%;
    /* border: solid black 1px; */
    padding: 1%;
    margin-bottom: 0%;
    margin-top: 0%;
    margin-right: 1%;
    color: var(--main-blue);
}


/* starts here ig */
* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  
  .searchbox a:hover{
    background-color: #ddd;
    color: black;
  }
  
  .searchbox a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .searchbox .search-container {
    float: right;
  }
  
  .searchbox input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .searchbox .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .searchbox .search-container button:hover {
    background: #ccc;
  }
  
  .v8_5527 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .backgroundlefttan {
    width: 100%;
    height: 1024px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1px;
    overflow: hidden;
 }
  .v8_5529 {
    width: 420px;
    height: 100%;
    background: rgba(254,244,232,0.8999999761581421);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .inboxrect {
    width: 372px;
    height: 52px;
    border-radius: 15px;
    background: rgba(51,51,51,0.5);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 23px;
    overflow: hidden;
  }
  .inboxtext {
    width: 148px;
    color: rgba(51,51,51,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Inria Sans;
    font-weight: Regular;
    font-size: 45px;
    opacity: 1;
    text-align: left;
  }
  .newmessage {
    width: 35px;
    color: rgba(51,51,51,1);
    position: absolute;
    bottom: -5px;
    left: 330px;
    font-family: Inria Sans;
    font-weight: Regular;
    font-size: 55px;
    opacity: 1;
    text-align: left;
  }
  .v57_1908 {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 420px;
    overflow: hidden;
  }
  .inboxmessagesrect {
    width: 372px;
    height: 190px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 165px;
    left: 27px;
    overflow: hidden;
  }
  .v8_5532 {
    width: 372px;
    height: 156px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v8_5534 {
    width: 246px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 14px;
    left: 103px;
    font-family: Inria Sans;
    font-weight: Light;
    font-size: 25px;
    opacity: 1;
    text-align: left;
  }
  .v8_5535 {
    width: 85px;
    height: 85px;
    background: url("../../assets/johndoepfp.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 407px;
    border-top-right-radius: 407px;
    border-bottom-left-radius: 407px;
    border-bottom-right-radius: 407px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v8_5536 {
    width: 267px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 36px;
    left: 103px;
    font-family: Inria Sans;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v8_5537 {
    width: 20px;
    height: 20px;
    background: rgba(23,166,11,1);
    opacity: 1;
    position: absolute;
    top: 62px;
    left: 65px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .v57_1933 {
    width: 101px;
    color: rgba(254,244,232,0.20000000298023224);
    position: absolute;
    top: 110px;
    left: 271px;
    font-family: Inria Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v57_1922 {
    width: 370px;
    height: 190px;
    background:rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }
  .v57_1927 {
    width: 267px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 141px;
    left: 101px;
    font-family: Inria Sans;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v57_1923 {
    width: 246px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 119px;
    left: 101px;
    font-family: Inria Sans;
    font-weight: Bold;
    font-size: 25px;
    opacity: 1;
    text-align: left;
  }
  .v57_1929 {
    width: 80px;
    height: 80px;
    background: url("../../assets/emptypfp.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 110px;
    left: 0px;
    border-top-left-radius: 407px;
    border-top-right-radius: 407px;
    border-bottom-left-radius: 407px;
    border-bottom-right-radius: 407px;
    overflow: hidden;
  }
  .v57_1932 {
    width: 101px;
    color: rgba(254,244,232,0.20000000298023224);
    position: absolute;
    top: 0px;
    left: 269px;
    font-family: Inria Sans;
    font-weight: Light;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .incomingmessagerect {
    width: 559px;
    height: 91px;
    background: rgba(51, 51, 51, 0.4);
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 161px;
    left: 455px;
    overflow: hidden;
  }
  .v8_5563 {
    width: 559px;
    height: 91px;
    background: rgba(42,42,42,0.800000011920929);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v8_5564 {
    width: 510px;
    color: rgba(254,244,232,1);
    position: absolute;
    top: 14px;
    left: 24px;
    font-family: Inria Sans;
    font-weight: Regular;
    font-size: 25px;
    opacity: 1;
    text-align: left;
  }
  .outgoingmessagerect {
    width: 400px;
    height: 61px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 281px;
    left: 999px;
    overflow: hidden;
  }
  .v8_5566 {
    width: 400px;
    height: 61px;
    background: rgba(31,172,216,0.75);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v8_5567 {
    width: 371px;
    color: rgba(17,17,17,0.800000011920929);
    position: absolute;
    top: 9px;
    left: 0px;
    font-family: Inria Sans;
    font-weight: Regular;
    font-size: 25px;
    opacity: 1;
    text-align: right;
  }
  .v8_5568 {
    width: 950px;
    height: 93px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 455px;
    overflow: hidden;
  }
  .v8_5569 {
    width: 950px;
    height: 93px;
    background: rgba(42,42,42,0.5);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v8_5570 {
    width: 74px;
    height: 74px;
    background: url("../../assets/johndoepfp.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 18px;
    border-top-left-radius: 407px;
    border-top-right-radius: 407px;
    border-bottom-left-radius: 407px;
    border-bottom-right-radius: 407px;
    overflow: hidden;
  }
  .v8_5571 {
    width: 617px;
    color: rgba(17,17,17,1);
    position: absolute;
    top: 24px;
    left: 166px;
    font-family: Jaldi;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v8_5572 {
    width: 18px;
    height: 18px;
    background: rgba(23,166,11,1);
    opacity: 1;
    position: absolute;
    top: 37px;
    left: 901px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .typemessagerect {
    width: 978px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 933px;
    left: 441px;
    overflow: hidden;
  }
  .v8_5574 {
    width: 978px;
    height: 65px;
    background: rgba(42,42,42,0.30000001192092896);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v8_5575 {
    width: 267px;
    color: rgba(17,17,17,0.5);
    position: absolute;
    top: 24px;
    left: 37px;
    font-family: Inria Sans;
    font-weight: Bold;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }

  .searchboxrect {
    width: 376px;
    height: 42px;
    /* background-color: rgba(22,22,29,0.5); */
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 102px;
    left: 23px;
    overflow: hidden;
  }
  input[type=text], #searchtype {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: rgba(51,51,51,0.5);
    border-radius: 25px;
  }

  .typemessagerect {
    width: 376px;
    height: 42px;
    /* background-color: rgba(22,22,29,0.5); */
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 102px;
    left: 23px;
    overflow: hidden;
  }
  input[type=text], #typemessage {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: rgba(51,51,51,0.5);
    border-radius: 25px;
  }

  .v57_1906 {
    width: 376px;
    height: 42px;
    background: rgba(17,17,17,0.30000001192092896);
    background-color: rgba(22,22,29,0.5);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .search {
    width: 329px;
    color: rgba(22,22,29,0.5);
    position: absolute;
    top: 11px;
    left: 27px;
    font-family: Inria Sans;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v70_1633 {
    width: 160px;
    height: 105px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 923px;
    left: 11px;
    overflow: hidden;
  }
  