.e204_792 { 
	overflow:hidden;
}
.e204_792 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1428px;
	position:absolute;
}
.pathway { 
	width:128px;
	height:22px;
	position:absolute;
	left:101px;
	top:131px;
}
.homepathway { 
	color:rgba(128, 128, 128, 1);
	width:48px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.homepathway:hover{
	text-decoration:underline;
	cursor:pointer;
}
.arrowright { 
	border: solid rgba(128, 128, 128, 0.8);
	border-width: 0 2px 2px 0;
	transform: rotate(-45deg);
	display: inline-block;
	padding: 3px;
}
.inboxpathway { 
	color:rgba(60.00000022351742, 66.00000366568565, 66.00000366568565, 1);
	width:45px;
	height:22px;
	position:absolute;
	left:83px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.navbardiv { 
	width:1440px;
	height:108px;
	position:absolute;
	left:0px;
	top:0px;
}
.navbar { 
	width:1237px;
	height:45px;
	position:absolute;
	left:102px;
	top:32px;
}
.navbarcategories { 
	width:449px;
	height:26px;
	position:absolute;
	left:179px;
	top:9px;
}

/* nav bar categories */
.academics { 
	color:rgba(128.0000075697899, 125.00000014901161, 126.00000008940697, 1);
	width:104px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.academics:hover {
	text-decoration:underline;
	cursor:pointer;
}
.furniture { 
	color:rgba(128.0000075697899, 125.00000014901161, 126.00000008940697, 1);
	width:92px;
	height:26px;
	position:absolute;
	left:144px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.furniture:hover {
	text-decoration:underline;
	cursor:pointer;
}
.clothing { 
	color:rgba(128.0000075697899, 125.00000014901161, 126.00000008940697, 1);
	width:82px;
	height:26px;
	position:absolute;
	left:276px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.clothing:hover {
	text-decoration:underline;
	cursor:pointer;
}
.more { 
	color:rgba(127.5, 124.8437525331974, 125.72915822267532, 1);
	width:51px;
	height:26px;
	position:absolute;
	left:398px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.more:hover {
	text-decoration:underline;
	cursor:pointer;
}

/* nav bar search */
.searchalldiv { 
	background-color:rgba(254.00000005960464, 244.0000006556511, 232.00000137090683, 1);
	border:0px;
	width:267px;
	height:42px;
	position:absolute;
	left:738px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.searchallicon {
	background-image:url("../../assets/searchicon.png");
	background-repeat:no-repeat;
	background-size:cover;
	height:18px;
	width:18px;
	position:absolute;
	left:-2px;
	top:1px;
}
.searchall input[type=text]{ 
	background-color:transparent;
	color:rgba(42, 42, 42, 0.7);
	border:0px;
	height:30px;
	width:212px;
	position:absolute;
	left:27px;
	top:-6.5px;
}

.ei204_860_208_454 { 
	width:20px;
	height:20px;
	position:absolute;
	left:20px;
	top:12px;
}
.i204_860_208_454_211_514 { 
	border:1.5px solid rgba(128, 128, 128, 1);
}
.ei204_860_208_455 { 
	color:rgba(128.0000075697899, 125.00000014901161, 126.00000008940697, 1);
	width:47px;
	height:19px;
	position:absolute;
	left:52px;
	top:12.5px;
	font-family:Inria Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}

/* top right buttons */
.toprighticons { 
	width:100px;
	height:44px;
	position:absolute;
	left:1137px;
	top:0px;
}
.wishlist { 
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:44px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.wishlist:hover {
	cursor:pointer;
}
.wishlisticon { 
	width:24px;
	height:24px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url("../../assets/wishlist.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.profile { 
	background-color:rgba(25.000000409781933, 137.00000703334808, 172.00000494718552, 1);
	width:44px;
	height:44px;
	position:absolute;
	left:56px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.profile:hover {
	cursor:pointer;
}
.profileicon { 
	width:24px;
	height:24px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url("../../assets/profile.png");
	background-repeat:no-repeat;
	background-size:cover;
}

.logo { 
	width:180px;
	height:100px;
	position:absolute;
	left:24px;
	top:7px;
	background-image:url("../../assets/logo.png");
	background-repeat:no-repeat;
	background-size:cover;
}

/* search inbox */
.searchinboxdiv {
	background-color:rgba(25, 137, 172, 0.2);
	border:0px;
	width:267px;
	height:42px;
	position:absolute;
	left:61px;
	top:176px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.searchinboxicon {
	background-image:url("../../assets/searchicon.png");
	background-repeat:no-repeat;
	background-size:cover;
	height:20px;
	width:20px;
	position:absolute;
	left:12px;
	top:12px;
}
.searchinbox input[type=text]{ 
	background-color:transparent;
	color:rgba(42, 42, 42, 0.7);
	border:0px;
	height:30px;
	width:212px;
	position:absolute;
	left:43px;
	top:6px;
}

.messages { 
	width:376.0001220703125px;
	height:182.44219970703125px;
	position:absolute;
	left:66px;
	top:244px;
}
.johnschatpreview { 
	width:376px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_5534 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:249.43321228027344px;
	height:26.12497901916504px;
	position:absolute;
	left:96px;
	top:12px;
	font-family:Inria Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e8_5535 { 
	width:76px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:407.5px;
	border-top-right-radius:407.5px;
	border-bottom-left-radius:407.5px;
	border-bottom-right-radius:407.5px;
	background-image:url("../../assets/emptypfp.png");
	background-repeat:no-repeat;
	background-size:cover;
}
.johnsmessagepreview { 
	color:rgba(51, 51, 51, 1);
	width:277px;
	height:44px;
	position:absolute;
	left:96px;
	top:42px;
	font-family:Inria Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.johnmessagetimestamp { 
	color:rgba(51, 51, 51, 0.3);
	width:100px;
	height:40px;
	position:absolute;
	left:285px;
	top:5px;
	font-family:Inria Sans;
	text-align:right;
	font-size:20px;
	letter-spacing:0;
}
.janeschatpreview { 
	width:376px;
	height:90px;
	position:absolute;
	left:0px;
	top:105px;
}
.janemessagepreview { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:277px;
	height:44px;
	position:absolute;
	left:96px;
	top:42px;
	font-family:Inria Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e57_1923 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:249.43321228027344px;
	height:26.12497901916504px;
	position:absolute;
	left:96px;
	top:12px;
	font-family:Inria Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.janedoepicture { 
	width:76px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:407.5px;
	border-top-right-radius:407.5px;
	border-bottom-left-radius:407.5px;
	border-bottom-right-radius:407.5px;
	background-image:url("../../assets/emptypfp.png");
	background-repeat:no-repeat;
	background-size:cover;
}
.janemessagetimestamp { 
	color:rgba(51, 51, 51, 0.3);
	width:100px;
	height:40px;
	position:absolute;
	left:285px;
	top:5px;
	font-family:Inria Sans;
	text-align:right;
	font-size:20px;
	letter-spacing:0;
}
.openmessagesender { 
	width:142.57369995117188px;
	height:44px;
	position:absolute;
	left:595px;
	top:144px;
}
.currentmessagename { 
	color:rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
	width:142px;
	height:44px;
	position:absolute;
	left:-10px;
	top:5px;
	font-family:Inria Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.currentmessage_inboxdivider { 
	transform: rotate(90deg);
	width:1166px;
	height:0px;
	position:absolute;
	left:-120px;
	top:710px;
	border:1px solid rgba(0, 0, 0, 0.2);
}
.incomingmessagesdivider { 
	transform: rotate(180deg);
	width:400px;
	height:0px;
	position:absolute;
	left:61px;
	top:335px;
	border:1px solid rgba(0, 0, 0, 0.2);
}
.contact_currentmessagedivider { 
	transform: rotate(179.9999957059593deg);
	width:819px;
	height:0px;
	position:absolute;
	left:465px;
	top:220px;
	border:1px solid rgba(0, 0, 0, 0.2);
}
.johndoepicture { 
	width:70px;
	height:70px;
	position:absolute;
	left:485px;
	top:135px;
	border-top-left-radius:407.5px;
	border-top-right-radius:407.5px;
	border-bottom-left-radius:407.5px;
	border-bottom-right-radius:407.5px;
	background-image:url("../../assets/emptypfp.png");
	background-repeat:no-repeat;
	background-size:cover;
}
.incomingmessage { 
	width:530px;
	height:106px;
	position:absolute;
	left:493px;
	top:244px;
}
.e205_996 { 
	background-color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 0.20000000298023224);
	width:530px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:20px;
}
.e205_997 { 
	color:rgba(25.000000409781933, 137.00000703334808, 172.00000494718552, 1);
	width:483.54205322265625px;
	height:77px;
	position:absolute;
	left:22.754919052124023px;
	top:14px;
	font-family:Inria Sans;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.outgoingmessage { 
	width:492px;
	height:61px;
	position:absolute;
	left:825px;
	top:384px;
}
.e205_999 { 
	background-color:rgba(31.000000052154064, 172.00000494718552, 216.00000232458115, 0.75);
	width:492px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:20px;
}
.e205_1000 { 
	color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 0.800000011920929);
	width:448px;
	height:42px;
	position:absolute;
	left:15px;
	top:9px;
	font-family:Inria Sans;
	text-align:right;
	font-size:25px;
	letter-spacing:0;
}
.typemessagediv { 
	width:860px;
	height:65.81480407714844px;
	position:absolute;
	left:493px;
	top:1191px;
}
.typemessagerect input[type=text]{ 
	background-color:rgba(42, 42, 42, 0.2);
	color: rgba(42, 42, 42, 0.7);
	width:810px;
	height:60px;
	position:absolute;
	padding-left:23px;
	left:0px;
	top:20px;
	font-family:Inria Sans;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
