.navbardiv { 
	width:1440px;
	height:108px;
	position:absolute;
	left:0px;
	top:0px;
}
.navbar { 
	width:1237px;
	height:45px;
	position:absolute;
	left:102px;
	top:32px;
}
.navbarcategories { 
	width:449px;
	height:26px;
	position:absolute;
	left:179px;
	top:9px;
}

.academics { 
	color:rgba(128, 125, 126, 1);
	width:104px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.academics:hover {
	text-decoration:underline;
	cursor:pointer;
}
.furniture { 
	color:rgba(128, 125, 126, 1);
	width:92px;
	height:26px;
	position:absolute;
	left:144px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.furniture:hover {
	text-decoration:underline;
	cursor:pointer;
}
.clothing { 
	color:rgba(128, 125, 126, 1);
	width:92px;
	height:26px;
	position:absolute;
	left:276px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.clothing:hover {
	text-decoration:underline;
	cursor:pointer;
}
.more { 
	color:rgba(128, 125, 126, 1);
	width:51px;
	height:26px;
	position:absolute;
	left:398px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}