.navbardiv { 
	width:1440px;
	height:108px;
	position:absolute;
	left:0px;
	top:0px;
}
.navbar { 
	width:1237px;
	height:45px;
	position:absolute;
	left:102px;
	top:32px;
}
.navbarcategories { 
	width:449px;
	height:26px;
	position:absolute;
	left:179px;
	top:9px;
}

.academics { 
	color:rgba(128, 125, 126, 1);
	width:104px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.academics:hover {
	text-decoration:underline;
	cursor:pointer;
}
.furniture { 
	color:rgba(128, 125, 126, 1);
	width:92px;
	height:26px;
	position:absolute;
	left:144px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.furniture:hover {
	text-decoration:underline;
	cursor:pointer;
}
.clothing { 
	color:rgba(128, 125, 126, 1);
	width:92px;
	height:26px;
	position:absolute;
	left:276px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.clothing:hover {
	text-decoration:underline;
	cursor:pointer;
}
.more { 
	color:rgba(128, 125, 126, 1);
	width:51px;
	height:26px;
	position:absolute;
	left:398px;
	top:0px;
	font-family:Inria Sans;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.more:hover {
	text-decoration:underline;
	cursor:pointer;
}

/* nav bar search */
.searchalldiv { 
	background-color:rgba(254, 244, 232, 1);
	border:0px;
	width:267px;
	height:42px;
	position:absolute;
	left:738px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.searchallicon {
	background-image:url("../../assets/searchicon.png");
	background-repeat:no-repeat;
	background-size:cover;
	height:18px;
	width:18px;
	position:absolute;
	left:13px;
	top:11px;
}
.searchall input[type=text]{ 
	background-color:transparent;
	color:rgba(42, 42, 42, 0.7);
	border:0px;
	height:30px;
	width:212px;
	position:absolute;
	left:40px;
	top:5px;
}

/* top right buttons */
.toprighticons { 
	width:150px;
	height:44px;
	position:absolute;
	left:1100px;
	top:0px;
}
.createlisting {
	background-color:rgba(25, 137, 172, 0.8);
	width:44px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.createlistingicon {
	font-family: Inria Sans;
	color: white;
	font-size:35px;
	position:absolute;
	left:12px;
	top:-1px;
}
.createlisting:hover {
	cursor: pointer;
}
.wishlistshortcut { 
	background-color:rgba(240, 240, 240, 1);
	width:44px;
	height:44px;
	/* display: inline-block; */
	position:absolute;
	left:50px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.wishlistshortcut:hover {
	cursor:pointer;
}
.wishlisticon { 
	width:24px;
	height:24px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url("../../assets/wishlist.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.profile { 
	background-color:rgba(25, 137, 172, 1);
	width:44px;
	height:44px;
	position:absolute;
	left:100px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.profile:hover {
	cursor:pointer;
}
.profileicon { 
	width:24px;
	height:24px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url("../../assets/profile.png");
	background-repeat:no-repeat;
	background-size:cover;
}

.logo { 
	width:180px;
	height:100px;
	position:absolute;
	left:24px;
	top:7px;
	background-image:url("../../assets/logo.png");
	background-repeat:no-repeat;
	background-size:cover;
}

.ais-SearchBox-reset {
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
	z-index: 1;
	width: 0;
	height: 100%;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 30px;
	}

/* styles.css */
/* Style for the overall search result container */
.search-result {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    position: relative;
    width: 30%;
    background: #ffffff;
    /* border: solid 1px; */
    /* box-shadow: -2px 2px 2px var(--main-blue); */
    border-radius: 5px;
    margin-top: 0%;
  }

  .search-result:hover {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    position: relative;
    width: 30%;
    background: var(--yellow);
    /* border: solid 1px; */
    /* box-shadow: -2px 2px 2px var(--main-blue); */
    border-radius: 5px;
    margin-top: 0%;}
  
  /* Style for the image itself */
  .result-image img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
  
  /* Style for the title */
  .result-title {
    display: inline-flex;
    /* border: solid red; */
    width: 70%;
    padding: 3%;
    margin-right: 5%;
    vertical-align: center;
  }

.product-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-price {
    display: inline-flex;
    border: solid var(--main-blue);
    justify-content: center;
    width: 25%;
    padding: 3%;
    background-color: var(--main-blue);
    border-radius: 5px;
    color: white;
}

/* how the page is formatted */
.page {
    display: flex;
    margin-top: 7%;
}
